/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background-color: #272727;
}

.container {
  width: 100%;
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 310px;
}
@media (min-width: 420px) {
  .container {
    max-width: 374px;
  }
}

.ranking__bullet, .ranking__picture img {
  border-radius: 100%;
}

.ranking__bullet, header h1 {
  display: flex;
  align-items: center;
}

header {
  grid-area: header;
}
header picture {
  grid-area: logo;
}
header h1 {
  grid-area: titulo;
}

main {
  grid-area: main;
}
main #ranking {
  grid-area: ranking;
}
main #ranking__content {
  grid-area: ranking-content;
}
main #ranking__picture {
  grid-area: ranking-picture;
}
main #ranking__info {
  grid-area: ranking-info;
}

body main .ranking__content, body main .ranking__item, body header, body {
  display: grid;
}

body {
  grid-template-areas: "header" "main";
}
body header {
  grid-template-rows: 1fr 52px;
  grid-template-areas: "logo ." "logo titulo";
}
body main .ranking__content {
  grid-column-gap: 1.25rem;
  grid-template-columns: 68px 1fr;
  grid-template-areas: "ranking-picture ranking-info";
}

header {
  position: relative;
  min-height: 190px;
  margin-bottom: 18px;
}
header picture img {
  position: absolute;
  left: -12px;
}
@media (min-width: 420px) {
  header picture {
    left: 0;
  }
}
header h1 {
  justify-content: flex-end;
  color: #272727;
  font-size: 1.875rem;
  font-weight: bold;
  padding: 0 1rem 0 4rem;
  letter-spacing: -3px;
  text-transform: uppercase;
  background-color: #ffffff;
  border-radius: 2px;
}
@media (min-width: 420px) {
  header h1 {
    padding: 0 2.625rem 0 5rem;
  }
}

.ranking {
  margin-left: 1rem;
  border-radius: 2px;
  /** alteracoes de hover **/
}
.ranking__item {
  position: relative;
}
.ranking__item:nth-child(odd) {
  padding: 18px 14px;
  background-color: #ffffff;
}
.ranking__item:nth-child(even) {
  padding: 9px 14px;
  background-color: #f2f1f1;
}
.ranking__item:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.ranking__item:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.ranking__content {
  align-items: center;
}
.ranking__picture {
  position: relative;
  max-width: 67px;
}
.ranking__picture img {
  display: block;
  width: 59px;
  height: 58px;
  border: 4px solid #ba3638;
}
.ranking__bullet {
  position: absolute;
  justify-content: center;
  width: 1.25rem;
  height: 1.25rem;
  font-size: 0.875rem;
  font-weight: bold;
  color: #707070;
  border: 2px solid #707070;
  background-color: #ffffff;
  bottom: -2px;
  right: 0;
}
.ranking__bullet:hover {
  cursor: default;
}
.ranking__info:hover {
  cursor: default;
}
.ranking__info h2 {
  font-size: 1.125rem;
  color: #ba3638;
  margin-bottom: 6px;
}
.ranking__info p {
  font-size: 0.75rem;
  color: #909090;
}
.ranking__item:hover:not(.tooltip__content) {
  background-color: #ba3638;
  /** habilita o tooltip com o hover **/
}
.ranking__item:hover:not(.tooltip__content) .ranking__picture img {
  border: 4px solid #ffffff;
}
.ranking__item:hover:not(.tooltip__content) .ranking__info h2 {
  color: #ffffff;
}
.ranking__item:hover:not(.tooltip__content) .ranking__info p {
  color: #330d0e;
}
.ranking__item:hover:not(.tooltip__content) .tooltip__content {
  display: flex;
}

.tooltip__content {
  display: none;
  position: absolute;
  right: 0.6rem;
  top: 0;
  bottom: 0;
  align-items: center;
}
@media (min-width: 760px) {
  .tooltip__content {
    right: -11.6rem;
  }
}
.tooltip__content::before {
  position: absolute;
  right: -15px;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-radius: 2px;
  border-right-color: #ffffff;
  transform: rotate(180deg);
  content: "";
}
@media (min-width: 760px) {
  .tooltip__content::before {
    left: -15px;
    transform: none;
  }
}
.tooltip__content table {
  position: relative;
  border-radius: 4px;
  box-shadow: -2px 0px 3px #272727;
  overflow: hidden;
}
@media (min-width: 760px) {
  .tooltip__content table {
    box-shadow: none;
  }
}
.tooltip__content table thead {
  background-color: #ba3638;
}
.tooltip__content table thead th {
  color: #f8f7f7;
  font-size: 0.625rem;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  padding: 4px 12px;
}
.tooltip__content table tbody {
  background-color: #ffffff;
}
.tooltip__content table tbody td {
  color: #909090;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: -1px;
  padding: 3px 6px;
}
.tooltip__content table th, .tooltip__content table td {
  border-right: 1px solid #272727;
}
.tooltip__content table th:last-child, .tooltip__content table td:last-child {
  border-color: transparent;
}

/*# sourceMappingURL=style.css.map */
