* {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
}

body { 
    background-color: map-get($colors, black-shade);
}

.container {
    width: 100%;
    padding: 1rem;
    @media screen and (min-width: 360px) {
        max-width: 340px;
    }
}
