
body { 
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background-color: map-get($colors, black-shade);
}

.container {
    width: 100%;
    padding: 1rem;
    margin: auto;
    max-width: 310px;
    @media (min-width: 420px) {
        max-width: 374px;
    }
}