header {
    position: relative;
    margin-bottom: 15px;
    min-height: 190px;
    picture { 
        img {
            position: absolute;
            left: -12px;
            top: 20px;
        }

        @media(min-width: 420px) { 
            left: 0;
        }
    }

    h1 {
        @extend %align-items-center;
        justify-content: flex-end;
        color: map-get($colors, black-shade);
        font-size: 1.875rem;
        font-weight: bold;
        padding: 0 1rem 0 4rem;
        letter-spacing: -3px;
        text-transform: uppercase;
        background-color: map-get($colors, white);
        border-radius: 2px;
        
        @media(min-width: 420px) {
            padding: 0 2.625rem 0 5rem;
        }
    }
}