.tooltip {
    &__content{
        display: none;
        position: absolute;
        right: .6rem;
        top: 0;
        bottom: 0;
        align-items: center;
        cursor: default;
        @media(min-width:760px) {
            right: -11.6rem;
        }
        &::before {
            position:absolute;
            right: -15px;
            width: 0;
            height: 0;
            border: 8px solid transparent;
            border-radius: 2px;
            border-right-color: map-get($colors, white);
            transform: rotate(180deg);
            content: "";
            @media(min-width: 760px) {
                left: -15px;
                transform: none;
            }
        }

        table {
            position: relative;
            border-radius: 4px;
            box-shadow: -2px 0px 3px map-get($colors, black-shade);
            overflow: hidden;
            @media(min-width: 760px) {
                box-shadow: none;
            }

            thead {
                background-color: map-get($colors, red);
                th {
                    color: map-get($colors, white-complementary);
                    font-size: 0.625rem;
                    text-align: center;
                    font-weight: bold;
                    text-transform: uppercase;
                    padding: 4px 12px;
                }    
            }
    
            tbody {
                background-color: map-get($colors, white);
                td { 
                    color: map-get($colors, gray-shade);
                    font-size: 1.5rem; 
                    font-weight: bold;
                    text-align: center;
                    letter-spacing: -1px;
                    padding: 3px 6px;
                }
            }
    
            th,td {
                border-right: 1px solid map-get($colors, black-shade);
                &:last-child { border-color: transparent }
            }
        }
    }
}