$colors: (
    white: #ffffff,
    white-smoke: #f2f1f1,
    white-complementary: #f8f7f7,
    gray-shade: #909090,
    gray: #707070,
    black-shade: #272727,
    red: #ba3638,
    red-shade: #330d0e,
);